#loglevel.default is the default log level for jobs: ERROR,WARN,INFO,VERBOSE,DEBUG
loglevel.default=INFO
rdeck.base=/var/lib/rundeck

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=false
# change hostname here
{% if RDECK_SERVER_URL is defined and RDECK_SERVER_URL -%}
grails.serverURL={{ RDECK_SERVER_URL }}
{% else -%}
grails.serverURL={{ RDECK_PROTOCOL }}://{{ RDECK_HOST }}:{{ RDECK_PORT}}
{% endif %}

rundeck.projectsStorageType=db
dataSource.dbCreate = update
dataSource.url = {{ DATABASE_URL }}
dataSource.username={{ DATABASE_USER }}
dataSource.password={{ DATABASE_PASSWORD }}
